//colors
$primary-color: #ffffff;
$secondary-color: rgba(255, 255, 255, 0.68);
$text-color: #ffffff;
$background-color: #0c0c0c;
$error-color: #e74c3c;

$font-family-base: 'Arial, sans-serif';
$font-family-heading: 'Roboto, sans-serif';
$font-size-base: 14px;
$font-size-heading: 32px;
$line-height: 1.3;

$spacing-unit: 8px;
$padding-small: $spacing-unit * 1;
$padding-medium: $spacing-unit * 2;
$padding-large: $spacing-unit * 3;
$margin-small: $spacing-unit * 1;
$margin-medium: $spacing-unit * 2;
$margin-large: $spacing-unit * 3;

$border-radius: 4px;
$container-width: 1600px;


:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --text-color: #{$text-color};
  --background-color: #{$background-color};
  --error-color: #{$error-color};

  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};
  --font-size-base: #{$font-size-base};
  --font-size-heading: #{$font-size-heading};

  --line-height: #{$line-height};

  --container-width: #{$container-width};
}
