@import "../../../styles/mixins";

.container{
  width: 100%;
  height: 100dvh;
  @include flex-col-cent();
  gap: 20px;
}

.button{
  @include flex-alc();
  border-radius: 40px;
  border:1px solid white;
  box-shadow: 1px 3px rgba(255, 255, 255, 0);
  cursor: pointer;
  background: none;
  gap: 10px;
  overflow: hidden;
  opacity: 1;
  transition: all linear .15s;
  &:hover{
    box-shadow: 0.5px 1px white;
    transform: translateY(-2px);
    opacity: .8;
  }

  span{
    padding: 8px 15px;
    font-weight: 100;
    @include adaptiv-font(26, 18);
  }
}

.icon{
  color:black;
  background: white;
  padding: 10px;
  border-radius: 30px;
  @include adaptiv-font(38, 24);
}

.title{
  text-align: center;
  line-height: 1;
  color: white;
  font-weight: 800;
  @include adaptiv-font(48, 28);
}

.warn{
  color: gray;
  font-size: 12px;
}
